<nav class="m-sidebar landlord counterScope" > 
  <!-- BEGIN SIDEBAR MENU HEADER -->
  <div class="m-sidebar__header">
    <div class="header-profile">
      <ul class="menu-items u-hidden">
        <li> <a  title="Profile" href=""> <span class="title-name" title="Shah Properties">Shah Properties</span>
          <div class="icon-thumbnail">
            <avatar size="tiny" width="45"><!----> 
              <!---->
              <div class="s-avatar w-h-45 u-margin-null-auto SP"> <span>SP</span> </div>
              <!----> 
            </avatar>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="header-controls"> <a class="controls-pin" data-toggle-pin="sidebar"> <i class="icon-line-push-pin"></i> </a> </div>
  </div>
  <!-- END SIDEBAR MENU HEADER -->
  
  <div class="m-sidebar__scrollbar ps ps--theme_default" >
    <div > 
      <!-- START SIDEBAR MENU -->
      <div class="m-sidebar__menu"> 
        <!-- BEGIN SIDEBAR MENU ITEMS -->
        <ul class="menu-items">
          <!-- Dashboard -->
          <li> <a title="Dashboard"  href="/" class=""> <span class="title">Dashboard</span> <span class="icon-thumbnail"> <i class="fa fa-home"></i> </span> </a> </li>
          
          <!-- Properties --> 
          <!---->
          <li> <a title="Properties" href="/"> <span class="title"> Properties <span class="arrow" > <i class="fa fa-angle-down fa-lg  "></i> </span> </span> <span class="icon-thumbnail"> <i class="fa fa-home"></i></span> </a>
            <ul class="menu-items sub-menu">
              <li> <a  title="Properties"  href="/"> <span class="title">Properties</span> <span class="icon-thumbnail">pt</span> </a> </li>
              <li> <a  title="Units"  href="/"> <span class="title">Units</span> <span class="icon-thumbnail">un</span> </a> </li>
            </ul>
          </li>
          <!----> 
          
          <!-- Accounting --> 
          <!---->
          <li > <a ui-sref="transactions.list" title="Accounting" href="/"> <span class="title"> Accounting <span class="arrow" > <i class="fa fa-angle-down fa-lg"></i> </span> </span> <span class="icon-thumbnail"> <i class="fa fa-home"></i> </span> </a>
            <ul class="menu-items sub-menu">
              <li> <a  title="Transactions"  href="/"> <span class="title">Transactions</span> <span class="icon-thumbnail">tr</span> </a> </li>
              <li> <a  title="Balances"  href="/"> <span class="title">Balances</span> <span class="icon-thumbnail">bn</span> </a> </li>
              <li> 
                <!----><a  href="/"> <span class="title">Management fee</span> <span class="icon-thumbnail">mf</span> </a><!----> 
              </li>
            </ul>
          </li>
          <!----> 
          
          <!-- Contacts --> 
          <!---->
          <li > <a title="Contacts" href="#."> <span class="title"> Contacts <span class="arrow" > <i class="fa fa-angle-down fa-lg"></i> </span> </span> <span class="icon-thumbnail"> <i class="fa fa-home"></i> </span> </a>
            <ul class="menu-items sub-menu">
              <li> <a title="Tenants"  href="/"> <span class="title">Tenants</span> <span class="icon-thumbnail"> tn  </span> </a> </li>
              <!---->
              <li > <a title="Owners" href="/"> <span class="title">Owners</span> <span class="icon-thumbnail"> ow  </span> </a> </li>
              <!---->
              <li> <a  title="ServicePros" href="/"> <span class="title">ServicePros</span> <span class="icon-thumbnail"> sp  </span> </a> </li>
            </ul>
          </li>
          <!----> 
          
          <!-- Reports --> 
          <!---->
          <li > <a title="Reports"  href="/"> <span class="title">Reports</span> <span class="icon-thumbnail"> <i class="fa fa-home"></i> </span> </a> </li>
          <!----> 
          
          <!-- Maintenance --> 
          <!---->
          <li  class=""> <a title="Maintenance" href="/"> <span class="title"> Maintenance <span class="arrow"> <i class="fa fa-angle-down fa-lg"></i> </span> </span> <span class="icon-thumbnail"> <i class="fa fa-home"></i>  </span> </a>
            <ul class="menu-items sub-menu" style="">
              <!---->
              <li > <a title="Requests" href="/" class=""> <span class="title">Requests</span> <span class="icon-thumbnail"> rq  </span> </a> </li>
              <!----> 
              <!---->
              <li > <a title="Reminders" href="/"> <span class="title">Reminders</span> <span class="icon-thumbnail"> rm </span> </a> </li>
              <!---->
            </ul>
          </li>
          <!----> 
          
          <!-- Applications --> 
          <!---->
          <li > <a title="Applications" href="/"> <span class="title">Applications</span> <span class="icon-thumbnail"> <i class="fa fa-home"></i>  </span> </a> </li>
          <!----> 
          
          <!-- Listings --> 
          <!---->
          <li > <a title="Listings"  href="/"> <span class="title">Listings</span> <span class="icon-thumbnail"> <i class="fa fa-home"></i> </span> </a> </li>
          <!---->
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
      <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
      <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
  </div>
  <!-- END SIDEBAR MENU --> 
  
  <!-- Support -->
  
</nav>
